body {
  background-color: #17230b;
  color: #17230b;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}

p {
  font-size: 24px;
  color: #ffffff;
}
i {
  color: #00ffff;
}
div {
  height: 350px;
  width: 600px;
  background-color: #320b86;
  color: #00ffff;
  font-size: 48px;
  text-align: center;
  line-height: 350px;
  border-radius: 25px;
  border: 5px solid #ffffff;
}
